<div id="backgroundOther">
    <div class="content">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 74.9 87.4" style="enable-background:new 0 0 74.9 87.4;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:#EFEEEE;}
            .st1{fill:url(#SVGID_1_);}
        </style>
            <g>
                <g>
                    <g>
                        <path class="st0" d="M48.2,66.3c-7.1,4.5-16.6,3.7-22.8-2.5c-7.2-7.1-7.2-18.8,0-25.9s18.8-7.2,25.9,0c6.2,6.2,7.1,15.6,2.6,22.7
                            l3.1,3.2l-0.1-37.4l-26.4,0.1l0-26.5L0,0.1l0.3,79.3l56.8-0.1l0-4L48.2,66.3z"/>
                        
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="1171.6786" y1="-221.8189" x2="1150.9324" y2="-241.663" gradientTransform="matrix(1 -2.549846e-03 -2.549846e-03 -1 -1123.6985 -177.809)">
                            <stop  offset="0.1927" style="stop-color:#E6007D"/>
                            <stop  offset="1" style="stop-color:#5C2582"/>
                        </linearGradient>
                        <circle class="st1" cx="38.3" cy="50.8" r="13.4"/>
                    </g>
                    <polygon class="st0" points="34.6,0.5 34.6,22.4 56.5,22.4 		"/>
                </g>
                <path class="st0" d="M73.9,80.6L57,63.8l0,2.2l15.6,15.5c0.9,0.9,0.8,2.2,0.1,3l-0.7,0.7c-0.9,0.9-2.2,0.8-3,0.1L57,73.3l0,2
                    l11.1,11.1c1.3,1.3,3.4,1.3,4.7-0.1l1-1C75.3,83.9,75.2,81.8,73.9,80.6z"/>
            </g>
        </svg>

        <p>Mentions légales</p>
    </div>
</div>
<div class="containerBorderRadius">
    <div class="borderRadius"></div>
</div>
<div class="main" >
    <div class="mentionsContainer">
        <p><strong>Éditeur du site :</strong> STAD 70</p>
        <p><strong>Statut :</strong> Association Loi 1901 reconnue d'utilité publique</p>
        <p><strong>N° SIREN :</strong> 411 709 256 ????????????</p>
        <p><strong>Siège social :</strong> 5 Impasse du Crotos, 70000 Vaivre-et-Montoille </p>
        <p><strong>Tél :</strong> +33 6 80 30 60 45 – <strong>Mail :</strong> ste.stad70(@)gmail.com</p>
        <p><strong>Responsable de la publication :</strong> Mme. Lucie ROCH</p>
        <p><strong>Hébergeur :</strong>&nbsp;Activ' Communication&nbsp;</p>
        <p><strong>Siège social :</strong>&nbsp;148, avenue Pasteur - 70 000 - Echenoz-la Méline&nbsp;</p>
        <p><strong>Tél :</strong>&nbsp;+33 3 84 68 67 46 -&nbsp;<strong>Mail :</strong>&nbsp;contact(@)activcom.net -&nbsp;<strong>Site:</strong>&nbsp;<a href="https://activcom.net">activcom.net</a></p>
        <p>&nbsp;</p>
        <p><strong>Préambule :</strong>
        <br>
        Les présentes mentions légales ont pour objet de définir les modalités de mise à disposition et des conditions d’utilisation du site Internet <a href="https://stad70.com">https://stad70.com</a> pour toute personne s’y connectant.</p>
        <p><strong>Article 1 :</strong>
        <br>Toute personne se connectant au site <a href="https://stad70.com">https://stad70.com</a> est réputée adhérer sans restrictions aux articles et préambule de ces mentions légales.</p>
        <p>En cas de non adhésion à ces articles et préambule, il est conseillé de quitter le site <a href="https://stad70.com">https://stad70.com</a> et de ne pas utiliser ses services. <strong>STAD 70</strong> se réserve le droit de modifier unilatéralement ces mentions légales à tout moment.</p>
        <p><strong>Article 2 :</strong>
        <br>Le service proposé par le site <a href="https://stad70.com">https://stad70.com</a> est accessible en permanence sauf en cas de force majeure, panne éventuelle ou intervention de maintenance nécessaire au bon fonctionnement ou à la mise à jour du site.</p>
        <p><strong>Article 3 :</strong><br>
        Le site <a href="https://stad70.com">https://stad70.com</a> et tout son contenu sont protégés par la législation du droit d’auteur et de la propriété intellectuelle.</p>
        <p><strong>Article 4 :</strong>
        <br>Les liens hypertextes présents sur le site <a href="https://stad70.com">https://stad70.com</a> et dirigeant les utilisateurs vers d’autres sites internet n’engagent pas la responsabilité de la rédaction.</p>
        <p>Conformément à la loi française (article 27 de la loi n°78.17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés), vous disposez d’un droit d’opposition (art.26) d’accès (art.34 à 38), de rectification (art.36) et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant à ste.stad70(@)gmail.com.</p>
        <p>&nbsp;</p>
        <h2>Conditions générales d’utilisation du site et des services proposés :</h2>
        <p>L’utilisation du site <a href="https://stad70.com">https://stad70.com</a> implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment. Les utilisateurs du site <a href="https://stad70.com">https://stad70.com</a> sont donc invités à les consulter de manière régulière.</p>
        <p>Toutes les informations indiquées sur le site <a href="https://stad70.com">https://stad70.com</a> sont données à titre indicatif et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="https://stad70.com">https://stad70.com</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
        <p>&nbsp;</p>
        <h2>Règles de confidentialités du site : <a href="https://stad70.com">https://stad70.com</a></h2>
        <h3>Informations personnelles collectées :</h3>
        <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code Pénal et la Directive Européenne du 24 octobre 1995.</p>
        <p>A l'occasion de l'utilisation du site <a href="https://stad70.com">https://stad70.com</a>, et en particulier lors du remplissage de notre formulaire de contact, sont recueillies les données suivantes :</p>
        <ul class="jsx-41837999bf8a4af3 list">
                <li class="list-item-disc">les noms et prénoms,</li>
                <li class="list-item-disc">le numéro de téléphone,</li>
                <li class="list-item-disc">l’adresse mail.</li>
        </ul>
        <p>Il est précisé à l'utilisateur du site <a href="https://stad70.com">https://stad70.com</a> le caractère obligatoire ou non des informations qu'il serait amené à fournir.</p>
        <p>Les informations personnelles collectées par le biais du site <a href="https://stad70.com">https://stad70.com</a> sont réservées exclusivement à STAD70 et ce, dans le but de répondre aux services proposés par le site.</p>
        <p>Au demeurant STAD 70 est autorisé(e) à effectuer des études et analyses statistiques sur l'utilisation et la typologie des utilisateurs du site <a href="https://stad70.com">https://stad70.com</a>, sous réserve de confirmer l'anonymat de ces derniers.</p>
        <h3>Accès, rectification ou suppression des informations nominatives collectées :</h3>
        <p>Conformément aux dispositions de l'article 34 de la loi n° 48-87 du 6 janvier 1978, modifié en 2004, dite loi « informatique et libertés », l’utilisateur bénéficie d’un droit d’accès, de rectification ou de suppression des informations qui le concernent.</p>
        <p>Pour exercer ce droit, l’utilisateur envoie à STAD 70 :</p>
        <ul class="jsx-41837999bf8a4af3 list">
            <div class="before">
                <li class="list-item-disc">un courrier électronique à l’adresse ste.stad70(@)gmail.com,</li>
            </div>
            <div class="before">
              <li class="list-item-disc">un courrier à l’adresse SIEGE SOCIAL en indiquant son nom, prénom, adresse et mail.</li>
            </div>
        </ul>
        <p>La modification interviendra dans des délais raisonnables à compter de la réception de la demande de l'utilisateur.</p>
        <h3>Cookies :</h3>
        <p>Un cookie stocke des informations relatives à la navigation de l’utilisateur sur le site (les pages que vous avez consultées, la date et l'heure de la consultation, etc.). Ces informations sont lisibles lors de prochaines visites sur le site mais ne permettent pas d’identifier l’utilisateur.</p>
        <p><strong>Le présent site n'utilise aucun cookie</strong></p>
        <p>L’utilisateur peut toutefois s’opposer à l'enregistrement des Cookies en paramétrant son navigateur de la manière suivante :</p>
        <p>Pour Mozilla Firefox :</p>
        <ul class="jsx-41837999bf8a4af3 list">
            <div class="before">
                <li class="list-item-disc">Choisir le menu "Outils " puis "Options"</li>
            </div>
            <div class="before">
                <li class="list-item-disc">Cliquer sur l'icône "Vie privée"</li>
            </div>
            <div class="before">
                <li class="list-item-disc">Repérer le menu "Cookie" et sélectionnez les options qui vous conviennent.</li>
            </div>
        </ul>
        <p>Pour Microsoft Internet Explorer :</p>
        <ul class="jsx-41837999bf8a4af3 list">
            <div class="before">
                <li class="list-item-disc">Choisir le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options").</li>
            </div>
            <div class="before">
                <li class="list-item-disc">Cliquer sur l'onglet "Confidentialité" (ou "Confidentiality")</li>
            </div>
            <div class="before">
                <li class="list-item-disc">Sélectionner le niveau souhaité à l'aide du curseur.</li>
            </div>
        </ul>
        <p>Pour Opéra :</p>
        <ul class="jsx-41837999bf8a4af3 list">
            <div class="before">
                <li class="list-item-disc">Choisir le menu "Fichier" &gt; "Préférences"</li>
            </div>
            <div class="before">
                <li class="list-item-disc">Vie Privée</li>
            </div>
        </ul>
        <h3>Droits d'auteur :</h3>
        <p>La totalité des éléments du site <a href="https://stad70.com">https://stad70.com</a>, notamment les textes, présentations, illustrations, photographies, arborescences et mises en forme sont la propriété intellectuelle exclusive de STAD 70.</p>
        <p>A ce titre, leurs représentations, reproductions, imbrications, diffusions et rediffusions, partielles ou totales, sont interdites conformément aux dispositions de l'article L. 122-4 du Code de la propriété intellectuelle. Toute personne y procédant sans pouvoir justifier d'une autorisation préalable et expresse du détenteur de ces droits encourt les peines relatives au délit de contrefaçon prévues aux articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
        <h3>Marques :</h3>
        <p>Les marques et logos contenus sur le site <a href="https://stad70.com">https://stad70.com</a> sont déposés par STAD70. A ce titre, toute personne procédant à leurs représentations, reproductions, imbrications, diffusions et rediffusions encourt les sanctions prévues aux articles L. 713-2 et suivants du Code de la propriété intellectuelle.</p>
        <h3>Date de la dernière mise à jour :</h3>
        <p>La dernière mise à jour des mentions légales date du 27 juillet 2023 .</p>
        <h3>Droit à l'image :</h3>
        <p>Toutes les images, photos et vidéos hébergées sur le site <a href="https://stad70.com">https://stad70.com</a> appartiennent à STAD70.</p>
        <h3>Liste d'opposition :</h3>
        <p>Tout consommateur ne souhaitant pas faire l’objet de prospection commerciale par voie téléphonique peut s’inscrire gratuitement sur la liste d’opposition au démarchage prévue par l’article L. 223-1 du Code de la consommation.</p>
        <p>L’inscription peut être effectuée sur le site https://www.bloctel.gouv.fr/</p></div>
</div>