
{% block footer %}
    <footer>   
        <div class="data">
            <p class="ActivCom">
                CONCEPTION ET HEBERGEMENT:&ensp;Activ'Communication
            </p>
            <p class="Adress-ActivCom">
                148 Avenue Pasteur&ensp;-&ensp;70000 Echenoz-la-Méline &ensp;-&ensp;tél. 0384686746&ensp;-&ensp;mail:&ensp;contact@activcom.net&ensp;-&ensp;©2011-2021-Activ'Communication
            </p>
        </div>
        <div class="ActivCom-logo">
            <a href="https://activcom.net/" target="_blank"><img src="../media/LogoActivCom.svg" height="60" width="150" alt="Logo activ com"></a>
        </div>
    </footer>
{% endblock footer %} 